.login-container{
    background-color: rgb(237, 244, 252);;
}
.form-container{
    width: 50%;
    margin: 0 auto;
}
.form-container input{
    display: block;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
}
