.banner-container{
    background-color: rgb(237, 244, 252);
}
#site-title{
    color: rgb(167, 52, 11);
}
.common-btn{
    background-color: rgba(167, 53, 11, 0.562);
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
}
.common-btn:hover{
    background-color:rgba(167, 53, 11, 0.95); ;
}
.banner-image{
    width: 100%;
}